<app-navbar></app-navbar>
  <div class="container">
    <div class="welcome-message">
      <h2>Olá! aluno</h2>
      <p>O que podemos te ensinar hoje?</p>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Digite as palavras chave da busca">
    </div>
    <div class="courses">
      <div class="course" *ngFor="let course of courses">
        <h3>{{course.title}}</h3>
        <p>Nível: {{course.level}}</p>
        <p>Duração: {{course.duration}}</p>
        <p>Score: {{course.score}}</p>
        <button (click)="marcarAssistido()"><a>Ver detalhes</a></button>
      </div>
    </div>
  </div>