<div class="login-container">
    <img src="assets/images/facens-logo.png" alt="Facens Logo" class="logo">
    <h2>Informe seus dados para o login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()"> 
        <label for="perfil">Perfil</label>
        <select formControlName="userProfile" id="user-profile" required>
            <option value="Aluno">Aluno</option>
            <option value="Professor">Professor</option>
        </select>
        
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="name@example.com" required>

        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password" placeholder="*********" required>

        <button type="submit" class="login-btn">Login</button>
    </form>
    <p>ou se desejar, realize o login com:</p>
    <button class="social-btn twitter">Twitter</button>
    <button class="social-btn facebook">Facebook</button>
    <div class="links">
        <a>Esqueceu sua senha?</a>
        <a href="/cadastro">Novo cadastro</a>
    </div> 
</div>