<header>
    <div class="header-icons">
    </div>
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Home</a></li>
        <li><a routerLink="/about">Sobre</a></li>
        <li><a routerLink="/listar-alunos">Alunos Matriculados</a></li>
        <li><a routerLink="/suporte">Suporte</a></li>
        <li><a routerLink="" (click)="onLogout()">Logout</a></li>
      </ul>
    </nav>
    <div class="header-icons">
      <img src="assets/images/icons/profile-icon.png" alt="Profile">
    </div>
  </header>